@media (max-width: 767px) {
    /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
    body {
        padding-top: 50px;
    }

    
}

html {
    font-size: 16px;
}

.black-square {
    background-color: rebeccapurple;
    width: 60px;
    height: 60px;
    color: aliceblue;
}

.white-square {
    background-color: aliceblue;
    width: 60px;
    height: 60px;
    color: rebeccapurple;
}

.highlighted-square {
    background-color: cornflowerblue;
    width: 60px;
    height: 60px;
}

.winner {
    font-size: 26px;
    align-self: center;
}

.board {
    max-width: 480px;
    grid-column: 3;
    font-size: 13px;
    font-weight: bold;
}

.board-container {
    display:grid;
    padding-top: 50px;
    grid-template-columns: auto 235px 480px max-content auto;
    grid-column-gap: 10px;
}

.button {
    margin-top: 20px;
}

.timer {
    font-size: 32px;
    font-weight: bold;
    padding: 5px;
}

.highlighted {
    background-color: coral;
}

.timers-container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    grid-column: 4;
}

#searching {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 24px;
}
#spinner {
    padding-top: 6px;
}

#draw {
    grid-column: 2;
    display: grid;
    grid-template-rows: 220px 40px 30px auto;
    grid-template-columns: 235px;
}

#draw-response {
    grid-row: 3;
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 8px;
}

.square-label-file {
    position: absolute;
    margin-left: 3px;
    margin-top: 40px;
    opacity: 0.85;
}

.square-label-rank {
    position: absolute;
    margin-left: 50px;
    opacity: 0.85;
}

.square-label-double {
    position: absolute;
}